[submodule "local-maven-repo"]
	path = local-maven-repo
	url = git@github.com:digitalmimic/hands-maven.git
[submodule "plugins/winter"]
	path = plugins/winter
	url = git@github.com:digitalmimic/model-winter-config.git
